/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/components/ui/button.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.button_ripple__4iXQR {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 9999px;
  background: rgba(255, 255, 255, 0.3);
  transform: translate(-50%, -50%) scale(0);
  animation: button_ripple-expand__mZOSR 600ms ease-out forwards;
  pointer-events: none;
}

@keyframes button_ripple-expand__mZOSR {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}

.button_btn-arrow__xwS_1 {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.button_arrow__nQEzS {
  display: inline-block;
  transform: translateX(0);
  transition: transform 200ms ease;
}

